.profile {
    margin: 0;
    padding: 0;
    grid-area: profile;
    background: url(../../img/header_bg.png) center no-repeat;
    background-size: cover;
    box-sizing: border-box;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.70);
    border-radius: 4px;


}
.wrapper {
    height: auto;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 5fr));
    max-height: 348px;
}
.usercard {
    width: 290px;
    height: 290px;
    padding: 0;
    margin: 5px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.11);
    border-radius: 50%;
    color: #FFFFFF;
    font-style: normal;
    align-items: center;
    text-align: center;
}

.number {
    font-weight: bold;
    font-size: 35px;
    padding-top: 5px;
}

.followers {
    font-weight: normal;
    font-size: 25px;
    padding-top: 0px;
    line-height: 29px;
}


.img {
    width: 128px;
    height: 128px;
    padding-top: 10px;

}

.name {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 5px;
    padding-left: 5px;
}

.status {
    margin: fill 0;
    max-width: 100%;
    height: 48px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.315) 9.38%, rgba(0, 0, 0, 0.427752) 18.75%, rgba(0, 0, 0, 0.405) 88.53%, rgba(0, 0, 0, 0.213542) 91.66%, rgba(0, 0, 0, 0.203835) 91.67%, rgba(0, 0, 0, 0.178356) 95.82%, rgba(0, 0, 0, 0.156249) 95.83%, rgba(0, 0, 0, 0) 100%);
}

.h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 5px;
    width: 100%;
}
