.wrapper {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 5fr));
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.70);
    border-radius: 5px;
}

.aside {
    max-width: 30%;
}


