.user_content {
    min-height: 100%;
}

.wrapper {
    grid-area: content;
    display: grid;
    min-height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    /*grid-template-columns: repeat(auto-fit, minmax(300px, 5fr));*/
    background: #FFFFFF;
}
.aside {
    max-width: 30%;
}


