.posts {
    display: block;
    grid-column: span 2;
    min-width: 100%;
    font-size: 18px;
    padding: 0px;
    color: #76747B;
    background: #FFFFFF;
}

.wrapper {
    font-size: 18px;
    padding: 20px;
    line-height: 18px;
    color: #76747B;
}

.h3 {
    color: #2F2F2F;
    margin: 0;
    font-size: 20px;
}

.form {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 15px;
}

.form__textarea {
    width: 90%;
    height: 45px;
    background: #FFFFFF;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.11), inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #CBCBCD;
    padding-left: 10px;
}

.form__button {
    margin-left: 5px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    height: 45px;
    background: #FEAD11;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.07), inset 0px 0px 7px rgba(255, 255, 255, 0.07);
    border-radius: 5px;


}

